<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description"
        content="Computação na arte. Essa fusão se faz valer positivamente em vários meios, em especial na educação. Os diálogos estabelecidos pela arte e a tecnologia faz nascer novas tendências de interatividade humana, de abordagem e afeto de si com o outro e, junto com elas, as chamadas tecnologias educacionais: de ensino e de aprendizagem. Novas formas de educar.">
    <meta name="keywords"
        content="Computação, Arte, Tecnologia, Educação, Ensino, Aprendizagem, Interatividade, Tendência">
    <meta name="Author" content="Vitor Hugo">

    <link rel="stylesheet" href="/css/lib/bootstrap.css">
    <link rel="stylesheet" href="/css/src/index.css">

    <title>Computação na arte</title>
</head>

<body>

    <div class="container-fluid" id="main">
        <div class="div-nav">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="row col-md-12" style="justify-content: flex-end;">
                    <div class="collapse navbar-collapse col-md-6" id="navbar">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="/">Home |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/computacao">Computação |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="arte">Arte |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="historia">História |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contato">Contato |</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 div-logo">
                        <span class="text-logo">DedéMusic</span>
                        <div class="logo"></div>
                    </div>
                </div>
            </nav>
            <div class=" col-md-12 row-phrase">
                <div class="phrase">
                    ONDE A MÚSICA VEM À VIDA
                </div>
            </div>
        </div>

        <div id="wrapper">

            <%- body %>

        </div>


    </div>
    <footer class="container-fluid footer">
        MAPA DO SITE AQUI
    </footer>


    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/popper.js"></script>
    <script src="/js/lib/bootstrap.js"></script>
    <script src="/js/src/index.js"></script>
</body>

</html>