*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
/* --------bootstrap--------- */
.bg-light{
    background-color:transparent!important;
    padding: 80px 0px 0px 50px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url('../../images/menu.png');
}
.row{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color:rgba(8, 197, 245, 0.9);
}


/*------------class-----------*/

.div-nav{
    background: url(../../images/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 560px;
    background-color: transparent;
    background-size:cover;
}

.logo{
    background: url(../../images/logo.svg) no-repeat center center;
    width: 50px;
    height: 50px;
    padding-right: 80px;
}
.phrase{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-height: 91px;
    width: 100%;
    max-width: 912px;
    padding: 10px;
    color: #ffffff;

    font-family: brandon-grotesque,Arial,sans-serif;
    text-align: right;
    font-size: 3rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    margin-top: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.row-phrase{
    display: flex;
    height: 100%;
    max-height: 390px;;
}

.div-logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-logo{
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
}

.section-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 560px;
}

.section-img{
    margin: auto;
    width: 100%;
    min-height: 560px;
    background-size:cover;
    color: #FFF;
}


.text-content{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.text-two-columns{
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 20px;
    column-count: 2;
    column-gap: 35%;
}

.content-boxes{
    height: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.box-text .content-box{
    min-height: 0!important;
    text-align: center;
}
.content-box{
    min-height: 300px;
    margin: 1px;
    width: 80%;
}

.content-box > h3, .text-content > h1{
    color: #000f58;
    font-weight: bold;
    font-size: 3rem;
}
.font-20{
    font-size: 24px;
}

/* -----------id's-------------- */
#section-img-1{
    background: url(../../images/section.jpg) no-repeat center center;
    background-size: cover;
}

#section-img-2{
    background: url(../../images/rodape.jpg) no-repeat center center;
    background-size: cover;
}
#img-box-1{
    background: url(../../images/img-box1.jpg);
    background-size:100% 100%;
}
#img-box-2{
    background: url(../../images/img-box2.jpg);
    background-size:100% 100%;
}
#img-box-3{
    background: url(../../images/img-box3.jpg);
    background-size:100% 100%;
}
#img-box-4{
    background: url(../../images/img-box4.jpg);
    background-size:100% 100%;
}
#main{
    padding-left: 0px;
    padding-right: 0px;
}


/* -----media query--------- */
@media only screen and (max-width : 500px) {
    .bg-light {
        padding: 10px;
    }
    .phrase{
        text-align: center;
    }
    .font-20{
        font-size: 20px;
    }
    .text-content{
        width: 100%;
    }
}
@media only screen and (max-width : 768px) {
    .text-content{
        width: 100%;
    }
}
@media only screen and (max-width : 1024px) {
    .text-two-columns{
        column-count: 1;
    }
}