<%- contentFor('body') %>
<div class="text-history col-md-12">
    <div class="row col-md-12 text-history">
        <h1 class="main-title">Sobre</h1>
    </div>
    <hr>
    <div class="row col-md-12 text-content">
        <figure class="rounded mx-auto d-block">
            <p><img src="../../images/weslei.jpeg" alt="weslei" class="rounded-circle">
                <figcaption class="text-center">Weslei Rocha</figcaption>
        </figure>
        <p class="col-md-12 center">
            Weslei Rocha graduando de Sistemas de Informação desde 2018 na instituição IF Sudete MG - Campus JF.
        </p>


    </div>

    <div class="row col-md-12 text-content">
        <figure class="rounded mx-auto d-block">
            <p><img src="../../images/cazalbe.jpg" alt="carlos" class="rounded-circle">
                <figcaption class="text-center">Carlos Eduardo</figcaption>
        </figure>
        <p class="col-md-12 center">
            Carlos Eduardo graduando de Sistemas de Informação desde 2018 na instituição IF Sudete MG - Campus JF.
        </p>
    </div>

    <div class="row col-md-12 text-content">
        <figure class="rounded mx-auto d-block">
            <p><img src="../../images/vitor.png" alt="vitor" class="rounded-circle">
                <figcaption class="text-center">Vitor Hugo</figcaption>
        </figure>
        <p class="col-md-12 center">
            Vitor Hugo graduando de Sistemas de Informação desde 2018 na instituição IF Sudete MG - Campus JF.
        </p>


    </div>
</div>