<%- contentFor('body') %>
<div class="text-history col-md-12">
    <div class="row col-md-12 text-history">
        <h1 class="main-title">A utilização da tecnologia</h1>
    </div>
    <hr>
    <div class="row col-md-12 text-content">
        <p class="col-md-12">
            A tecnologia sendo inserida na musica é algo que prova de uma vez por todas que a tecnologia esta em tudo o que fazemos hoje em dia.
            Desde aplicativos até as interfaces USB a tecnologia tem sido usada de uma maneira muito abrangente quando o assunto é a musica.
            Hoje em dia já é possível criar canções inteiras e até mesmo vozes artificiais com apenas o uso de um computador.
            <br>O crescimento da tecnologia na musica foi tão grande que o sistema analógico já foi abandonado nos maiores estúdios do mundo dando
            lugar a computadores e softwares de gravações. Até mesmo em shows ao vivo o sistema digital já foi implantado na utilização de mesas
            digitais, simuladores de amplificadores e etc.
            Dentre as várias possibilidades ofetadas pelo o uso da tecnologia vale ressaltar o da tecnologia ambissônica, ou mais popularmente conhecido como música 8D.
        </p>
    </div>
    <div class="row col-md-12 text-content">
        <h3 class="col-md-12" id="title1">Mas o que é a música <strong>8D</strong>?</h3>
        <p class="col-md-12">
            O áudio 8D é um formato que reproduz além do plano horizontal, cobrindo as fontes de som acima e abaixo do ouvinte, 
            de forma que o ouvido humano tenha uma experiência imersiva.
            A base desse áudio está em uma criação de Hugo Zuccarelli, um engenheiro argentino, nos anos 80. 
            Ele criou um trabalho de acústica, que permite desfrutar do sistema de áudio com espacialização do som. Dessa forma, as 
            ondas auditivas são manipuladas para que pareçam vir de vários pontos, gerando uma experiência surrealista no cérebro, 
            órgão responsável pelo processamento. Zuccarelli conseguiu ‘vender’ uma maneira diferente de ouvir música, na qual é 
            possível ‘sentir’ os sons. Essa invenção, a holofonia, surgiu por acaso quando este cientista argentino decidiu aplicar o 
            conceito de holograma ao som. Enquanto no holograma há a interferência de luz, para que se possa gerar ou apresentar imagens 
            em três dimensões, na holofonia, utiliza-se de uma técnica múltipla de exposição de uma gravação. É um efeito quase hipnótico, 
            que só é possível por meio de cabeças fictícias que simulam as condições auditivas do ser humano.

        <p class="col-md-12"> 
            Alguns especialistas não concordam com essa nomenclatura, pois acreditam que o áudio 8D é o mesmo de um som 3D ou uma evolução do 
            estéreo, baseado em dois canais. A diferença, no entanto, está apenas no nível técnico da gravação: em vez de utilizar dois microfones
            (um para o canal esquerdo e outro para o direito), como acontesse no estéreo, é utilizado uma cabeça artificial, que possui dois
            microfones posicionados a cerca de 18 centímetros de distância um do outro. A ideia é que o processo de registrar a transmissão
            do som passe dos ouvidos até o crânio. Os áudios 3D, 4D e 5D são todos binaurais e diferem apenas no nível técnico e nas empresas 
            comerciais por trás.<br>
            <strong class="underline">Para uma boa experiência escute a música abaixo de fone de ouvidos.</strong>


            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item "  class="d-flex justify-content-center" width="560" height="315" src="https://www.youtube.com/embed/YiY3ythuT08" allowfullscreen></iframe>
            </div>    
        </p>    
    </p>
    </div>


    <div class="row col-md-12 text-content">
        <h3 class="col-md-12" id="title1">Softwares para áudio digital</h3>
        <div class="col-md-12">
            <p>
                Atualmente existem vários fabricantes de software para gravação de áudio digital. Os programas tornam o computador um estúdio digital “multitrack”
                para gravação, edição, processamento e mixagem de áudio digital. Além dos gravadores existe uma outra categoria de programas 
                chamados de “samplers”. Estes, por sua vez, permitem gravar
                amostras e depois reproduzí-las com o auxílio do instrumento MIDI. Por exemplo, com o programa sampler é possível gravar a
                voz com o microfone e disponibilizá-la sob a forma de um timbre (“preset”) para ser executada por um teclado. Assim os sons
                gravados podem ser armazenados numa biblioteca em CD. Posteriormente esses sons poderão ser lidos para a memória do 
                programa sampler e executados. Abaixo seguem <strong class="underline">3 softwares incrivéis</strong> para fazer música:
            </p>
            <img src="../../images/roland-cloud.jpg" class="img-fluid rounded float-right image-padding">
            <p>
                <a href="https://www.rolandcloud.com/">Roland Cloud</a> 
                se você tem feito um pouco de música, você reconhecerá a Roland como líder no setor de fabricação de ferramentas. 
                Mas, em um esforço para ajudar a atender às crescentes necessidades baseadas em tecnologia de compositores, 
                produtores e engenheiros, a Roland adicionou alguns novos recursos impressionantes ao seu modelo de negócios.
                Seu novo serviço Roland Cloud dá aos compositores acesso a uma vasta biblioteca de instrumentos de sintetizador através de 
                um modelo baseado em assinatura. Para ter acesso total a toda a sua biblioteca de sons, serviços 
                conectivos e software de produção é necessário sua assinatura que custa US $ 20 por mês.
            </p>
            <img src="../../images/soundtrap.jpg" class="img-fluid rounded float-right image-padding">
            <p>
                A <a href="https://www.soundtrap.com/">Soundtrap</a> 
                é especializada em dar aos músicos o seu próprio estúdio de gravação on-line, repleto de mais de 4000 loops e 
                presets, recursos de automação e sua própria caixa de ritmos Patterns Beatmaker. O software de colaboração da Soundtrap 
                que permite aos músicos colaborarem juntos através de computadores, tablets e smartphones, também é muito bacana. 
                Deve ser caro, certo? Bem, os modelos de assinaturas mensais da Soundtrap só vão custar de US $ 4 a US $ 15 por mês, o que, 
                em minha opinião, significa de 1 a 3 cervejas. Nada mau, na minha opinião.
            </p>
            <img src="../../images/splice.jpg" class="img-fluid rounded float-right image-padding">
            <p>
                O <a href="https://splice.com/">Splice</a> 
                oferece aos compositores e produtores ferramentas impressionantes, como softwares de colaboração e plugins de produção, 
                por meio de um sistema rent-to-own, que até mesmo os músicos mais “quebrados” não se importarão em pagar.
                Mas, ao contrário do recurso de colaboração em tempo real da Soundtrap, o principal ponto de venda da Splice é sua 
                impressionante capacidade de ajudar várias partes a trabalhar na mesma peça musical com facilidade por meio de notificações,
                mensagens e plataforma fácil de navegar. O Splice também facilita a recuperação de versões antigas de sessões sem ocupar espaço
                no disco rígido. Seus plugins vão te custar entre US $ 8 e US $ 15 por mês.
            </p>
        </div>
    </div>
    
</div>