<%- contentFor('body') %>
<div class="text-history col-md-12">
    <div class="row col-md-12 text-history">
        <h1 class="main-title">Contato</h1>
    </div>
    <hr>

    <form class="col col-md-12" id="form-contact">
        <div class="form-group">
            <label for="formControlInput1">Digite seu email</label>
            <input type="email" class="form-control" id="formControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="formControlInput1">Digite seu nome</label>
            <input type="text" class="form-control" id="formControlInput1">
        </div>
        <div class="form-group">
            <label for="formControlTextarea1">Deixe sua mensagem</label>
            <textarea class="form-control" id="formControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form><br>

</div>