<%- contentFor('body') %>
<div class="text-history col-md-12">
    <div class="row col-md-12 text-history">
        <h1 class="main-title">O que <span class="underline">aconteceu</span> ?</h1>
    </div>
    <hr>
    <div class="row col-md-12 text-content">
        <p class="col-md-12">
            A tecnologia vem transformando absolutamente tudo ao nosso redor. A forma como nos comunicamos,
            o jeito de consumir conteúdo, o compartilhamento de histórias diárias e, claro, a forma como conhecemos
            artistas e
            ouvimos músicas.
            Grande parte das inovações mais recentes está voltada para o mercado de entretenimento. Música,
            filme, fotografia, turismo etc. Tudo se modificou para dar mais possibilidades ao consumidor e
            abrir novos horizontes para os produtores.
            Essas mudanças são alimentadas, em grande parte, pela velocidade com que as informações rodam pelo mundo
            atualmente.
            Há pouco mais de cinco anos, era praticamente impossível imaginar que uma música pudesse vazar para todo o
            mundo
            antes de seu lançamento oficial. Atualmente, isso é algo banal no mundo da música.
            A indústria fonográfica mudou muito com a facilidade de distribuição, comercialização e divulgação.
            Isso criou novos serviços, novas demandas e, ao mesmo tempo, matou alguns dos antigos hábitos de consumo das
            ultimas décadas.
        </p>
    </div>
    <div class="row col-md-12 text-content">
        <h3 class="col-md-12" id="title1">A <strong class="underline">evolução</strong> da indústria fonográfica</h3>
        <p class="col-md-12">
            A evolução da indústria musical se mistura com a evolução das mídias e formatos de distribuição,
            desde os discos de vinil, passando pelo rádio, as fitas K7 e os CDs, até chegar ao MP3
            <a href="https://www.tecmundo.com.br/infografico/30658-a-evolucao-do-armazenamento-de-musicas-infografico-.htm"
                target="_blank">
                saiba mais detalhes sobre a história neste infográfico</a>.
            Se antes, para fazer sucesso,
            era preciso estar dentro de uma gravadora influente, hoje só é preciso ser bom e, de alguma forma,
            cair no gosto do público.
            Como tudo o que a web já mudou, na música não é diferente: o poder mudou de mãos e, agora, a tendência é que
            o público
            dite o que quer ver ou ouvir, e não o contrário. Com isso, ocorreram mudanças na forma com que gravadores
            trabalham,
            o que também garantiu acesso de produtores independentes a um enorme público.
        </p>
    </div>
    <div class="row col-md-12 text-content">
        <h3 class="col-md-12" id="title2">O fim dos álbuns</h3>
        <div class="col-md-12">
            <p>
                Mas qual foi o grande ponto de virada da indústria? Tudo começou ainda na década de 90, mais
                precisamente em 1998.
                Enquanto no Brasil os mais moderninhos usavam discmans (reprodutores portáteis de CDs) para ouvir suas
                músicas,
                na Coreia do Sul a Saehan criava o primeiro aparelho para reprodução de MP3.
            </p>
            <img src="../../images/image-end-the-albuns.jpg" class="img-fluid rounded float-right">
            <p>
                A portabilidade aliada ao fácil acesso às músicas era a chave para toda uma revolução.
                Enquanto os CDs exigiam meses de espera para seu lançamento e os discos tinham preços nada camaradas,
                o MP3 poderia ser baixado em alguns minutos.
                Em 2001, o “boom” da mobilidade explodiu. Steve Jobs anunciava o que viria a ser a maior febre da
                década: o iPod.
                Ele foi apresentado apenas alguns meses após o lançamento do iTunes, a loja da marca que permite comprar
                músicas em formato digital.
                A inovação estava na velocidade, na comodidade e na economia: sem precisar sair de casa e sem a
                necessidade de fazer a compra de álbuns inteiros,
                você poderia curtir suas músicas preferidas, algo nunca imaginado antes
                Os lançamentos saíram das rádios e foram parar na tela do computador. Para ouvir suas músicas no carro
                ou na hora da ginástica,
                não era mais necessário comprar discos ou ficar esperando em frente ao rádio para gravar fitas. Com
                poucos cliques, tudo passou a caber em seu bolso.
            </p>
        </div>
    </div>
    <div class="row col-md-12 text-content">
        <h3 class="col-md-12" id="title3">O <strong class="underline">fim da MTV</strong> e o início de uma nova era
            para a música</h3>
        <div class="col-md-12">
            <p>
                O encerramento das transmissões da MTV brasileira como canal de televisão aberta marcou o final de uma
                era e,
                ao mesmo tempo, demonstra muito bem a forma como a popularização das redes sociais e a internet em geral
                mudou o consumo de conteúdo musical.
                Até o começo dos anos 2000, era preciso esperar a noite de sexta-feira para conferir na programação da
                MTV o
                lançamento de determinado videoclipe. Tudo era feito com um enorme suspense: durante a semana, várias
                chamadas
                anunciavam a novidade da banda que lançaria o clipe, convidando o público a acompanhar a primeira
                transmissão do novo conteúdo.
            </p>
            <img src="../../images/mtv.jpg" class="img-fluid rounded float-left image-padding">
            <p>
                Depois da transmissão, linhas telefônicas ficavam congestionadas de jovens que queriam compartilhar com
                seu grupo de amigos as
                primeiras impressões. Quem tinha gravado o clipe em seu videocassete poderia assistir novamente, caso
                contrário era provável
                que somente no dia seguinte ele se repetisse.
                A mudança começou em 2005, com a criação do YouTube. A rede de compartilhamento de vídeos deu início à
                grande parte da acessibilidade
                que temos hoje. Se antes, para ver um clipe, era preciso esperar a MTV transmitir o conteúdo, conferir
                fitas ou abrir arquivos digitais
                em discos (que muitas vezes eram vendidos como extras nos CDs de bandas), agora com poucos cliques na
                tela ele passava a aparecer
                em seu computador.
                Em poucos anos, o YouTube virou um fenômeno e as gravadoras começaram a perceber que ele era um poderoso
                instrumento para a divulgação de bandas.
                E foi exatamente nesse ponto que a MTV começou a ficar de lado.
                Em 2009, o YouTube já era chamado de “A nova MTV”, algo que foi potencializado ao longo dos últimos
                anos. Canais exclusivos de gravadoras
                e grupos de entretenimento, como o VEVO, começaram a priorizar a promoção na internet, levando a
                exclusividade que antigamente era de
                rádios e canais de televisão para a web.
                Automaticamente, os anunciantes seguiram as gravadoras, transferindo investimentos para canais online.
                Com isso, o crescimento
                do YouTube foi inevitável, enquanto alguns veículos tradicionais com o foco em música foram ficando de
                lado.
            </p>
            <p>
                Tudo isso é potencializado com a divulgação de conteúdo pelo novo “boca a boca”,
                que ocorre em compartilhamentos de redes como Facebook e Twitter. Em poucos minutos uma nova música vira
                o
                assunto mais comentado das redes, atraindo cada vez mais acessos ou visualizações para os vídeos.
                Dessa forma, você pode conhecer em segundos novos artistas ou músicas, o que, antigamente, poderia levar
                dias,
                semanas ou até mesmo meses para chegar aos seus ouvidos. Isso gerou mais um novo fenômeno, que são as
                celebridades instantâneas.
            </p>
            <img src="../../images/gravadoras.jpg" class="img-fluid rounded float-right image-padding">
            <p>
                Mas a grande oportunidade é mesmo para pequenas gravadoras e músicos independentes. Com uma boa
                estratégia,
                boas músicas e um pouco de dedicação é possível fazer qualquer faixa rodar o mundo.
                Alguns métodos de gravação caseiros já são capazes de entregar resultados muito próximos aos de estúdios
                profissionais,
                com um investimento relativamente baixo. Sistemas de monetização, como o Kickstarter, permitem levantar
                dinheiro para a
                gravação de CDs, e redes como o MySpace permitem ampliar a divulgação de músicas sem muito trabalho.
                Embora não exista uma fórmula do sucesso, é fato: o YouTube hoje é o termômetro da música, de uma forma
                tão significativa
                como a Billboard foi nas últimas décadas. Embora a tendência seja de um mercado cada vez mais voltado
                para a portabilidade,
                com cada vez mais concorrência e, automaticamente, com carreiras mais passageiras, precisamos esperar
                para descobrir o que o
                futuro reserva para a indústria fonográfica.
                Sem dúvidas essa projeção inclui uma variedade tão grande de lançamentos que chega a ser inconsumível,
                além de gerar muitas
                oportunidades para todos os tipos de produção.
            </p>
        </div>
    </div>
</div>