<%- contentFor('body') %>
<div class="row col-md-12 section-white">
    <div class="text-content" id="experimentação-artistica">
        <h1>
            base da experimentação <strong>artística</strong>!
        </h1>
        <h3>
            A experimentação musical associada às tecnologias ou mesmo a associação entre música 
            e tecnologia é uma das bases da experimentação artística.
        </h3>
    </div>

    <div class="content-boxes row  col-md-9">
        <div class="content-box col-md" id="img-box-1">

        </div>
        <div class="content-box col-md" id="img-box-2">

        </div>
        <div class="content-box col-md" id="img-box-4">

        </div>
    </div>
</div>

<div class="row col-md-12 section-img" id="section-img-1">
    <div class="text-two-columns" id="texto">
        <span class="font-20">
            Considera-se aqui não só as tecnologias do digital, mas todo e qualquer artífice inventado para criar 
            e ordenar sons, gerar música, enfim. Novas estéticas sonoras, inclusive, foram sempre permeadas pela 
            descoberta de novos recursos. Esses recursos sofrem transformações e transformam as artes – e a técnica 
            também – ou o modo de fazer – que alteram a linguagem, o discurso estético, o conteúdo, a ordenação dos 
            símbolos e signos. Hoje, a música, e não só a música eletrônica, é produzida, circulada e/ou consumida 
            perpassando por recursos de tecnologias.
            É impossível pensar atualmente a tríade produção/circulação/consumo sem o entremeio das tecnologias, sejam elas digitais ou mesmo analógicas.

            A música está hoje associada não só ao uso de softwares e tecnologias de todo porte em processos de produção, 
            mas à própria utilização de redes telemáticas como espaço de produção simbólica coletiva, através das 
            tecnologias P2P, além do uso dessas redes como instrumento de circulação da produção.
        </span>
    </div>
</div>

<div class="row col-md-12 section-white">
    <div class="text-content" id="mudanca-na-industria-musical">
        <h1>
            <strong>MUDANÇA</strong> NA INDUSTRIA MUSICAL
        </h1>
        <h3>
            A forma de se produzir, disseminar, transformar, se apropriar e inovar com a
            cultura mudou drasticamente depois da internet. E uma das indústrias mais atingidas
            pelo turbilhão de mudanças introduzidas pela grande rede foi a da música.
        </h3>
    </div>

    <div class="content-boxes box-text row col-md-12">
        <div class="content-box col-md" id="txt-box-1">
            <h3>Décadas de 60, 70 e 80</h3>
            <h4>O grande apogeu da indústria fonográfica</h4>
        </div>
        <div class="content-box col-md" id="txt-box-2">
            <h3>Entre 1997 e 2003</h3>
            <h4>Retração nas vendas chega a 50% em valores nominais.</h4>
        </div>
        <div class="content-box col-md" id="txt-box-3">
            <h3>1999</h3>
            <h4>Criação do Napster que facilitou o download de músicas.</h4>
        </div>
        <div class="content-box col-md" id="txt-box-4">
            <h3>Fevereiro de 2005</h3>
            <h4>Surgimento do youtube</h4>
        </div>
    </div>
</div>

<div class="row col-md-12 section-img" id="section-img-2">
    <div class="text-content" id="rodape">
        <span class="font-20">
            A indústria fonográfica mudou muito com a facilidade de distribuição, 
            comercialização e divulgação. Isso criou novos serviços, novas demandas e, ao mesmo tempo, 
            matou alguns dos antigos hábitos de consumo das ultimas décadas.
        </span>
    </div>
</div>