<%- contentFor('body') %>
<div class="row col-md-12 div-main-title">
    <h1 class="main-title"><span style="text-decoration: underline">Música</span> e tecnologia</h1>
</div>
<div class="row col-md-12">
    <div class="text-content">
        <h1>
            BASE DA EXPERIMENTAÇÃO <strong>ARTÍSTICA</strong>!
        </h1>
        <h3>
            A experimentação musical associada às tecnologias ou mesmo a associação entre música 
            e tecnologia é uma das bases da experimentação artística.
        </h3>
    </div>
</div>
<hr>
<div class="row col-md-12">
    <div class="text-content">
        <p>
            Considera-se aqui não só as tecnologias do digital, mas todo e qualquer artífice inventado para criar 
            e ordenar sons, gerar música, enfim. Novas estéticas sonoras, inclusive, foram sempre permeadas pela 
            descoberta de novos recursos. Esses recursos sofrem transformações e transformam as artes – e a técnica 
            também – ou o modo de fazer – que alteram a linguagem, o discurso estético, o conteúdo, a ordenação dos 
            símbolos e signos. Hoje, a música, e não só a música eletrônica, é produzida, circulada e/ou consumida 
            perpassando por recursos de tecnologias.
            É impossível pensar atualmente a tríade produção/circulação/consumo sem o entremeio das tecnologias, sejam elas digitais ou mesmo analógicas.

            A música está hoje associada não só ao uso de softwares e tecnologias de todo porte em processos de produção, 
            mas à própria utilização de redes telemáticas como espaço de produção simbólica coletiva, através das 
            tecnologias P2P, além do uso dessas redes como instrumento de circulação da produção.
        </p>
    </div>
</div>

<div class="row col-md-12">
    <div class="text-content" style="margin-bottom: 20px;">
        <h1>
            <strong>MUDANÇA</strong> NA INDÚSTRIA MUSICAL
        </h1>
        <h3>
            A forma de se produzir, disseminar, transformar, se apropriar e inovar com a
            cultura mudou drasticamente depois da internet. E uma das indústrias mais atingidas
            pelo turbilhão de mudanças introduzidas pela grande rede foi a da música.
        </h3>
        <div class="d-flex justify-content-center">
            <a href="https://medium.com/@caviegas/o-que-aconteceu-com-o-napster-b19a561733dd" target="_blank">
                <img class="img-fluid img-aling" src="../../images/napster.jpg" alt="napster">
            </a>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md">
            <h3 class="color-blue">Décadas de 60, 70 e 80</h3>
            <h4 class="color-blue">O grande apogeu da indústria fonográfica</h4>
        </div>
        <div class="col-md">
            <h3 class="color-blue">Entre 1997 e 2003</h3>
            <h4 class="color-blue">Retração nas vendas chega a 50% em valores nominais.</h4>
        </div>
        <div class="col-md">
            <h3 class="color-blue">1999</h3>
            <h4 class="color-blue">Criação do Napster que facilitou o download de músicas.</h4>
        </div>
        <div class="col-md">
            <h3 class="color-blue">Fevereiro de 2005</h3>
            <h4 class="color-blue">Surgimento do youtube</h4>
        </div>
    </div>
</div>

<div class="row col-md-12">
    <div class="text-content">
        <p>
            A indústria fonográfica mudou muito com a facilidade de distribuição, 
            comercialização e divulgação. Isso criou novos serviços, novas demandas e, ao mesmo tempo, 
            matou alguns dos antigos hábitos de consumo das ultimas décadas.
        </p>
    </div>
</div>