<%- contentFor('body') %>
<div class="row col-md-12 section-white">
    <div class="text-content">
        <h1>
            Dê à <strong>sua música</strong> o que ela precisa!
        </h1>
        <h3>
            Queremos ajudá-lo a criar a melhor peça de música.
            Nosso estúdio se esforça para ser o lugar onde você se sente livre e criativo.
        </h3>
    </div>

    <div class="content-boxes row  col-md-9">
        <div class="content-box col-md" id="img-box-1">

        </div>
        <div class="content-box col-md" id="img-box-2">

        </div>
        <!-- <div class="content-box col-md" id="img-box-3">

        </div> -->
        <div class="content-box col-md" id="img-box-4">

        </div>
    </div>
</div>

<div class="row col-md-12 section-img" id="section-img-1">
    <div class="text-two-columns">
        <span class="font-20">
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

        </span>
    </div>
</div>

<div class="row col-md-12 section-white">
    <div class="text-content">
        <h1>
            NOSSO <strong>SUCESSO</strong> EM NÚMEROS
        </h1>
        <h3>
            Aqui é onde o seu texto começa. Basta clicar e começar a escrever.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
        </h3>
    </div>

    <div class="content-boxes box-text row col-md-12">
        <div class="content-box col-md" id="txt-box-1">
            <h3>6000</h3>
            <h4>Bla blaabala jajn saeg</h4>
        </div>
        <div class="content-box col-md" id="txt-box-2">
            <h3>120</h3>
            <h4>Bla blaabala jajn saeg</h4>
        </div>
        <div class="content-box col-md" id="txt-box-3">
            <h3>30%</h3>
            <h4>Bla blaabala jajn saeg</h4>
        </div>
        <div class="content-box col-md" id="txt-box-4">
            <h3>200.000</h3>
            <h4>Bla blaabala jajn saeg</h4>
        </div>
    </div>
</div>

<div class="row col-md-12 section-img" id="section-img-2">
    <div class="text-content">
        <span class="font-20">
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Use nossos equipamentos de alto nível e se concentre-se apenas em sua criatividade.
            Sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </span>
    </div>
</div>