
/* ---------bootstrap--------- */
.bg-light{
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #012549!important;
}
.nav-item{
    margin-right: 10px;
    height: 65px;
}
.nav-link{
    font-weight: 600;
    padding: 0;
    line-height: 65px;
    color:#EDCD6C!important;
}
.nav-link:hover{
    font-size: 1.1rem;
    font-weight: 650;
}
.row{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
/* -----------ids------------ */
#navbar{
    padding-right: 30px;
}
/* ----------class----------- */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-map p, a{
    color: #FFF;
    margin: 0!important;
}
.sub-item{
    padding-left: 20px;
}
.site-map{
    flex-direction: column;
    background-color: #3c3c3c;
    padding: 5px 15px 5px 15px;
    margin: 0!important;
}
.color-blue{
    color: #012549;
}
.underline{
    text-decoration: underline;
}
.image-padding{
    padding:15px; 
}
.active{
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: underline;
}
.footer{
    padding: 10px;
    text-align: center;
    background-color: #012549;
    color:#EDCD6C;

}
.text-logo{
    color:#EDCD6C;
    font-weight: bold;
    font-size: 25px;
}
.wrapper{
    padding-top: 100px;
}
.main-title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: .0625rem;
    color: #012549;
}
.div-main-title{
    margin-bottom: 30px;
}
.text-content h1, h3, h4{
    color: #3c3c3c;
    text-align: center;
    margin-bottom: 15px;
}
.text-content p{
    font-family: "Segoe UI";
    text-align: justify;
    text-justify: inter-character;
    line-height: 1.625;
    font-size: 1.2rem;
    color: #777;
}


/* --------dropdown---------- */

.dropbtn {
    text-align: center;
    background-color: inherit;
    border: none; 
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* ----media------ */
@media only screen and (max-width: 500px){
    .main-title{
        font-size: 50px;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
}